body,html{
	margin: 0;
	padding:0;
	font-family: 'Open Sans',Arial,sans-serif;
	line-height: 1.5em;
}

body{
	width: 100%;
	margin: auto;
}

.container{
	width: 100%;
}

#wrapper{
	width: 100vw;
	margin: 0;
	padding: 0;
}

/*----HEADER----*/
#nav-width{
	padding: 0;
}

#header{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	max-height: 275px;
	background-color: #fff;
}
#header h2{
	margin: 10px auto;
	background-color: #fff;
    height: 30px;
    padding-top: 10px;
    font-weight: lighter;
}

#navbar ul{
	background: #fff;
	max-height: 220px;
	margin: 20px auto 0 auto;
	padding: 0;
	border: 2px solid #333;
	overflow-y: auto;
    overflow-x: hidden;
}

#navbar li{
	list-style: none;
	padding: 10px 50px;
	text-align: left;
	border-bottom: 1px solid #000;
	border-left: 3px solid #333;
}

#navbar a{
	text-decoration: none;
	color: #666;
	font-size: 16px;
}
#navbar a:hover{
	color: #0564B5;
	font-size: 18px;
}

/*----MAIN----*/
#main-width{
	margin-top: 330px;
}

#Introduction header, #What_you_should_already_know header, #Javascript_and_Java header,
#Hello_World header, #Variables header, #Declaring_Variables header, #Variable_Scope header,
#Global_Variables header, #Constants header, #Data_Types header, #If_Else_Statement header,
#While_Statement header, #Function_Declaration header, #Reference header{
	padding-left: 35px;
	font-weight: lighter;
	font-size: 2em;
}

#What_you_should_already_know header{
	padding-right: 4px;
	font-size: 1.9em;
}

#Introduction p, #What_you_should_already_know p, #Javascript_and_Java p,
#Hello_World p, #Variables p, #Declaring_Variables p, #Variable_Scope p,
#Global_Variables p, #Constants p, #Data_Types p, #If_Else_Statement p, 
#While_Statement p, #Function_Declaration p, #Reference p{
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
	color: #666;
}

#Introduction ul, #What_you_should_already_know ul, #Data_Types ul,
#While_Statement ul, #Function_Declaration ul{
	margin-left: 40px;
}

#Introduction li, #What_you_should_already_know li, #Data_Types li,
#While_Statement li, #Function_Declaration li{
	margin-right: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
	margin-right: 30px;	
}

#Introduction li span, #What_you_should_already_know li span{
	text-align: justify;
	position: relative;
	left: 5px;
	padding-right: 10px;
	color: #666;	
}

.alignment{
	margin-left: 10px;
}

.code{
	display: block;
	font-family: monospace;
	position: relative;
	text-align: left;
	white-space: pre;
	line-height: 2;
	background-color: #f7f7f7;
	margin: 10px 40px 10px 50px;
	padding: 10px 10px 10px 20px;
	border-radius: 0.5em;
	color: #0569BF;
}

#dataTypes-top{
	padding-top: 7px;
}

#Reference{
	margin-bottom: 50vw;
}


/*----MEDIA QUERIES----*/
@media only screen and (min-width: 1023px){
	/*----HEADER----*/	
	#header{
		min-width: 310px;
		width: 320px;
		margin: 0 ;
		padding: 0;
		position: fixed;
		top: 0;
		max-height: 100%;
		background-color: #fff;
		border-right: solid #aaa;
	}
	#header h2{
		text-align: center;
	}
	#navbar ul{
		margin-right: 10px;
		max-height: 88vh;
		overflow-y: auto;
		overflow-x: hidden;
	}

	/*----MAIN----*/
	#main-width{
		margin-top: 30px;
	}
	.alignment{
		margin-left: 0;
	}

	#Introduction header,#What_you_should_already_know header, #Javascript_and_Java header,
	#Hello_World header, #Variables header, #Declaring_Variables header, #Variable_Scope header,
	#Global_Variables header, #Constants header, #Data_Types header, #If_Else_Statement header,
	#While_Statement header, #Function_Declaration header, #Reference header{
		padding-left: 0;
	}

	#Introduction ul, #What_you_should_already_know ul, #Data_Types ul,
	#While_Statement ul, #Function_Declaration ul{
		margin-left: 5px;
		padding-right: 35px;
	}

	#Introduction p,#What_you_should_already_know p, #Javascript_and_Java p,
	#Hello_World p, #Variables p, #Declaring_Variables p, #Variable_Scope p,
	#Global_Variables p, #Constants p, #Data_Types p, #If_Else_Statement p,
	#While_Statement p, #Function_Declaration p, #Reference p{
		padding-right: 70px;
		padding-left: 10px;
	}
	.code{
		margin-right: 65px;
		margin-left: 5px;
	}

}


@media only screen and (min-width: 768px) and (max-width: 815px) {
	/*----HEADER----*/
	#header h2{
    	text-align: center;
	}
	#nav-width{
		flex-basis: 100%;
    	max-width: 100%;
	}
}

@media screen and (min-width: 816px) and (max-width: 1023px){
	/*----HEADER----*/	
	#header{
		min-width: 310px;
		width: 320px;
		margin: 0 ;
		padding: 0;
		position: fixed;
		top: 0;
		max-height: 100%;
		background-color: #fff;
		border-right: solid #aaa;
	}
	#header h2{
		text-align: center;
	}
	#navbar ul{
		margin-right: 10px;
		max-height: 88vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
	/*----MAIN----*/
	#main-width{
		max-width: 60%;
		flex-basis: 60%;
		margin-top: 30px;
		margin-left: 12px;
		
	}
	#Introduction p, #What_you_should_already_know p, #Javascript_and_Java p,
	#Hello_World p, #Variables p, #Declaring_Variables p, #Variable_Scope p,
	#Global_Variables p, #Constants p, #Data_Types p, #If_Else_Statement p, 
	#While_Statement p, #Function_Declaration p, #Reference p{
		padding-right: 0px;
	}

	.code{
		margin-right: 0;
	}
}

@media screen and (min-width: 450px){
	/*----MAIN----*/
	#Reference{
		margin-bottom: 20vw;
	}
}


